<div id='container'>

<a href="#/shorten">Shorten</a>
  <!-- Your html here -->
  <input type="text" ng-model="searchString">
  <button>Search</button>
  <h3>Links</h3>
    <div class="info" ng-repeat="link in data.links | searchFor:searchString">
      <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
      <div class='title'>{{link.title}}</div>
      <div class='original'>{{link.url}}</div>
      <a href='{{link.base_url}}/{{link.code}}'>{{link.base_url}}/{{link.code}}</a>
    </div>
</div>
